{% extends "base/base_template.html" %}

{% block title %}Просмотр: доктора{% endblock %}

{% block h1 %}Доктора{% endblock %}

{% block main_section %}
<div>
    <p>Список докторов:</p>
    {% for doctor in doctor_list %}
    <p>
        <a href="{% url 'detail_doctor' pk=doctor.pk %}">{{ doctor.first_name }} {{ doctor.last_name }} {{ doctor.father_name }}</a><br>
        <i>{{ doctor.specialization }}</i>
    </p>
    {% empty %}
    <p>
        Записи отсутствуют!
    </p>
    {% endfor %}
</div>
{% endblock %}